* {
    box-sizing: border-box;
}


content { 
    display: grid;
    grid-template-areas: 
      "bsa js php php php"
      "bsa js php php php"
      "bsa js php php php"
      "bsa js net net event"
      "qa js net net event"
      "qa js net net blog"
      "qa java net net blog"
      "qa java net net contact"
      "footer footer footer footer footer";
    max-width: 1440px;
    padding-top: 80px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    height: 100vh;
    }

bsa, js, php, net, event, java, qa, blog, contact {
    display: flex;
    background: gold;
}
 

#bsa-area {
    grid-area: bsa;
    background-color: white;    
}

#bsa-area img {
    margin: auto;
}

button {
    margin: auto; 
    color: white; 
    background-color: #3e16f0;
    border: none;
    padding: 16px 16px;
    width: 100px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: white;
    border: 2px solid #3e16f0;
    color: #3e16f0;
}

#js-area {
    grid-area: js;
    background-color: gold;
}

#php-area { 
    display: flex;
    grid-area: php;  
    background-color: blueviolet;    
}

#php-area .flip-card-inner span {
    margin: auto;
    font-size: 5em;
    font-style: italic;
    color: black;
}

#php-area .flip-card-back span {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 15px;
}

#net-area { 
    grid-area: net; 
    background-color: rgb(117, 20, 117);
}

#net-area .flip-card-inner span {
    margin: auto;
    font-size: 5em;
    color: white;
}

#net-area .flip-card-back span {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 15px;
}

#event-area { 
    grid-area: event; 
    background-color: lightskyblue;
}
#event-area .flip-card-inner span {
    margin: auto;
    font-size: 2em;
    color: white;
}

#event-area .flip-card-back span {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 15px;
}


#blog-area {
    grid-area: blog;
    background-color: rgb(85, 85, 182);
}   

#blog-area .flip-card-inner span {
    margin: auto;
    font-size: 2em;
    color: white;
}

#blog-area .flip-card-back span {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 15px;
}

#java-area {
    grid-area: java;
    background-color: red;
}

#java-area .flip-card-inner span {
    margin: auto;
    font-size: 4em;
    color: white;
}

#contact-area .flip-card-inner span {
    margin: auto;
    font-size: 4em;
    color: white;
}

#qa-area {
    grid-area: qa;
    background-color: green;
}

#qa-area .flip-card-inner span {
    margin: auto;
    font-size: 5em;
    color: white;
}

#qa-area .flip-card-back span {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 15px;
}

#js-area .flip-card-inner span {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 7em;
    font-weight: bold;
    color: black;
}

#js-area .flip-card-back span {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    top: 15px;
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 15px;
}

#java-area .flip-card-back span {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 1em;
    color: black;
    font-weight: bold;
    text-align: left;
    padding: 15px;
}

#contact-area .flip-card-back i {
    cursor: pointer;
    font-size: 4em;
    padding: 5px;
}

#contact-area .flip-card-back i:hover {
    color: blue;
}


#contact-area {
    grid-area: contact;
    background-color: blue;
}

#footer-area {
    margin: auto;
    grid-area: footer;
    background-color: white;
}
