
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d; 
  }
  
  #bsa-area:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  #qa-area:hover .flip-card-inner {
    transform: rotateX(180deg);
  }

  #blog-area:hover .flip-card-inner {
    transform: rotateX(180deg);
  }

  #net-area:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  #event-area:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  #js-area:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }

  #php-area:hover .flip-card-inner {
    transform: rotateX(180deg);
  }


  #java-area:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }

  #contact-area:hover .flip-card-inner {
    transform: rotateY(-180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    display: flex;
  }

  
  #bsa-area .flip-card-back {
    display: flex;

    transform: rotateY(180deg);
  }
  
  
  #qa-area .flip-card-back {

    transform: rotateX(180deg);
  }

  #js-area .flip-card-back {

    transform: rotateY(-180deg);
  }

  #java-area .flip-card-back {
    transform: rotateY(-180deg);
  }

  #contact-area .flip-card-back {
    transform: rotateY(-180deg);
  }

  #php-area .flip-card-back {
    transform: rotateX(180deg);
  }

  #blog-area .flip-card-back {
    transform: rotateX(180deg);
  }

  #net-area .flip-card-back {
    transform: rotateY(180deg);
  }

  #event-area .flip-card-back {
    transform: rotateY(180deg);
  }
  