    @font-face {
        font-family: Font awesome;
        src: url(font-awesome-4.7.0/fonts/fontawesome-webfont.ttf);
    }

    * {
        box-sizing: border-box;
    }

    header {
        position: fixed;
        width: 100%;  
        animation: 0.5s ease slideInFromTop;
        z-index: 3;
    
    }

    menu-wrp {
        display: flex;
        align-items: center;
        background-color: white;
        box-shadow: 0 2px 4px -1px rgba(0,0,0,.25);
        justify-content: space-between;
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;
        padding-left: 10px;
        padding-right: 10px;
        height: 70px;
    }

    .right-side {
        display: flex;
        align-items: center;
    }


    .logo {
        cursor: pointer;
    }

    .logo>img {
        width: 115px;
        height: 33px;
    }

    #avatar {
        position: relative;
        margin-left: 10px;
        width: 35px;
        height: 35px;
        background-color: #f79a2d;
        color: #fff;
        font-weight: bold;
        display: flex;
        font-size: 1.2rem;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
    }

    #avatar input
    {
        display: block;
        width: 35px;
        height: 35px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
    }


    #avatar input:checked ~ .user-menu
    {
        display: block;
        position: absolute;
    } 


    #avatar input ~ .user-menu {
        display: none;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f9f9f9;
        margin-top: 100px;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        
    }

    
    #avatar input ~ .user-menu a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .user-menu #user-name {
        color: darkgrey;
        border-bottom: 2px solid rgba(207, 202, 202, 0.486);
        margin-left: 7px;
        margin-right: 7px;
        cursor: default;
    }

    .user-menu a {
        color: rgb(43, 36, 36);
    }

    .user-menu #user-menu-profile::before {
        font-family: Font awesome;
        content: "\f007";
        color: rgb(44, 42, 42);
        margin-right: 5px;

    }

    .user-menu #user-menu-logout::before {
        font-family: Font awesome;
        content: "\f08b";
        color: rgb(44, 42, 42);
        margin-right: 5px;

    }

    .user-menu #user-menu-logout:hover {
        background-color: darkgray;
        color: white;
    }

    .user-menu #user-menu-profile:hover {
        background-color: darkgray;
        color: white;
    }

    .bell {
        width: 35px;
        height: 35px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        display: flex;
        border-radius: 50%;
    }

    .bell:hover {
        background-color: #00000021;
    }

    @keyframes slideInFromTop {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }
